html{
    font-family: Arial, sans-serif
}

header {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

button{
    border: none;
    background-color: inherit;
}




.hdr-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-wrapper{
    display: inline-block;
    flex: 0 1;
    margin-right: 3em;
}

.logo__img{
    min-width: 100px;
    max-width: 25%;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 25px;
    padding: 0.5em 1em;
    max-height: 10%;
    margin-right: auto;
    width: 50%;
}

input[type="text"]{
    border: none;
    width: 100%;
}
input[type="text"]:focus{
    outline: none;
}

.hdr__useful-links{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.header__user{
    border-radius: 100%;
}

/* 1st search item */

.search-item{
    margin-bottom: 2em;
}
.focus-menu{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}
.btn-content, .label-content{
    display: flex;
    gap: 0.5em;
    color: red;
    margin-bottom: 0.5em;
}

.selected{
    height: 3px;
    width: 100%;
    background-color: aqua;
}

#more, #tools{
    display: none;
}

label[for="more"], label[for="tools"]{
    display: flex;
}

.parent-wrapper{
    padding-left: 15%;
    max-width: 55%;
}

.search-stats{
    font-family: sans serif;
    font-size: 14px;
    color: grey;
    margin-bottom: 2em;
    display: inline-block;
}

.sub-lnk{
    font-size: 14px;
    margin-bottom: 0.5em;
    color: gray;
}

.sub-lnk a{
    color: inherit;
}

.sub-arrow{
    font-size: 14px;
    margin-left: 0.2em;
}

.lnk-main{
    font-size: 20px;
    color: blue;
}

.site-preview{
    font-size: 14px;
    line-height: 1.5;
}

.site-preview span{
    font-weight: 700;
}
.page-stats{
    font-size: 14px;
}

/* ALSO SECTION */

.also-wrapper{
    margin-top: 3em;
    margin-bottom: 3em;
}
.also-title{
    font-size: 22px;
    line-height: 1.27;
    border-bottom: 1px solid rgba(128, 128, 128, 0.582);
    padding-bottom: 0.2em
}
.also-item{
    display:flex;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.582);
}

.also-item:last-child{
    position:relative;
}
.also-item-title{
    font-size: 1em;
    margin-right: auto;
    font-weight: 200;
}

.feedback{
    position: absolute;
    font-size: 12px;
    bottom: -8px;
    right: 0;
    background: white;
    padding-left: 0.8em ;
    color: gray;
}

/* VIDEO SECTION */

.video-wrapper{
    margin-bottom: 5em;
}

.vid-header{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    margin-bottom: 1em;
}

.vid-logo{
    color: gray;
}

.video-item{
    display: flex;
    margin-bottom: 1em;
}

.video-frame{
    position: relative;
    width: 100%;
    max-width:200px;
    margin-right: 1em;
}

.vid-length{
    position: absolute;
    left: 10px;
    bottom: 12px;
    padding: 0.2em 0.5em;
    font-size: 12px;
    background-color: black;
    color: white;
    opacity: 50%;
    border-radius: 10px;
}

.vid-prev{
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
}
.video-frame iframe{
    width: 100%;
}

.vid-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vid-meta{
    display:flex;
    flex-direction: column;
}
.vid-site{
    font-size: 14px;
}
.vid-seo{
    color: gray;
}
.vid-uploaded{
    font-size: 14px;
    color: gray;
}

.video-moments{
    display: flex;
    background-color: aquamarine;
    padding: 0.5em 1.5em 0.5em 1em ;
    border-radius: 10px;
    position: relative;
}
.video-moments::before{
    content:"";
    position: absolute;
    top: -12px;
    left: 15%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid aquamarine;
}

.video-moments span, .video-moments i{
    font-size: 12px;
}
.video-moments span{
    margin-right: auto;
}

.dmy{
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.vid-view-all{
    border: 1px solid rgba(0, 0, 0, 0.377);
    padding: 0.5em 2em 0.5em 1em;
    border-radius: 25px;
    max-width: 250px;
    width: 100%;
    position: relative;
    top: 28px;
    left: 150px;
    background-color: white;
}

.vid-view-all div{
    display: flex;
    justify-content: center;
    gap:1em;
}

.vid-view-all div span{
    margin-left: auto;
    margin-right: auto;
}

/* 2nd Search Item */

.site-lnks{
    font-size: 14px;
}



/* width="560" height="315" */